@import "tailwindcss";

@theme {
  --animate-spin-slow: spin 8s linear infinite;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.hero-bg {
  background-image: url(/buss.png);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
